
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500&display=swap');

:root {
    --cd1: #fffafa;
    --cd2: #3e3e3e;
    --cd3: #7e7e7e;
    --cd4: #000000;
    --cu1: #2e8b57;
    --cu2: #c0dccc;
    --cu3: #81b99a;
    --cu4: #1b5334;
    --cs1: #e00034;
    --cs2: #f299ad;
    --cs3: #9c0024;
}

* {
    margin: auto;
    padding: 0;
    font-family: 'Mulish', sans-serif;
    color: var(--cd2);
}

a {
    color: var(--cu1);
    text-decoration: none;
    transition: .15s ease;

    &:hover {
        color: var(--cu3);
    }
}

::-webkit-scrollbar {
    width: .5em;
}

::-webkit-scrollbar-track {
    background: var(--cu2);
}

::-webkit-scrollbar-thumb {
    background: var(--cu1);

    &:hover {
        background-color: var(--cd3);
    }
}

body {
    max-width: 450px;
    box-shadow: 0 0 0.25em 0 var(--cd3);

    .logo {
        background-color: var(--cd1);
        display: flex;
        justify-content: center;
        padding: 2em;

        a {
            color: var(--cd1);
        }

        img {
            max-width: 400px;
            max-height: 200px;
        }
    }

    .header {
        background-color: var(--cu1);

        a {
            color: var(--cd1);
            text-decoration: none;

            &:hover {
                color: var(--cu2);
            }
        }

        .nav {
            padding: 0.5em 0;
            display: flex;
            position: sticky;
            position: -webkit-sticky;
            align-self: baseline;
            top: 0;
            overflow: hidden;
        }
    }


    .main {
        padding: 1em;
        text-align: justify;

        img {
            display: flex;
            justify-content: center;
            max-width: 200px;
        }

        svg {
            display: flex;
            justify-content: center;
            max-width: 200px;
        }

        p {
            padding: .25em 0;
            text-indent: 3em;
        }

        .fitur {
            display: flex;
            gap: 1em;

            p {
                max-width: 285px;
            }

            svg {
                width: 150px;
                padding: 1em 0;
            }

            ul {
                li {
                    margin: 1em 0;
                    padding: 0 1em;
                    display: flex;
                    gap: 1em;
                    background-color: #2e8b5733;
                    border-radius: 0.25em;
                    transition: 1s ease;

                    &:hover {
                        transform: translateY(-0.25em);
                    }

                    &:nth-child(even) {
                        background-color: #2e8b5711;
                    }

                }
            }
        }

        .daftar-toko {
            ul {
                margin: 0em;
                padding: .25em 0;

                li {
                    display: flex;
                    height: 3em;
                    list-style: inside;
                    background-color: #2e8b5733;
                    transition: .3s ease;
                    
                    &:hover {
                        transform: translateY(1px);
                    }

                    &:nth-child(even) {
                        background-color: #2e8b5711;
                    }
                    
                    a {
                        display: inline;
                        width: 100%;
                        padding: .85em 1em;
                        height: auto;

                        &:hover {
                            cursor: pointer;
                            background-color: var(--cd2);
                        }

                        &:active {
                            transform: translateY(0px);
                        }
                    }
                }
            }
        }
    }

    .nav-bot {
        width: 434.25px;
        border-top: var(--cu2) solid 1px;
        padding: .75em .5em;
        bottom: 2.30em;
        background-color: snow;
    }

    .footer {
        background-color: var(--cu1);
        text-align: center;
        color: snow;
        bottom: 0;
        display: flex;
        justify-content: center;
        width: 450px;
        padding: 0.5em 0;
        box-shadow: var(--cd3) 0 0 0.25em 0;

        a {
            color: var(--cd1);
            margin: 0 .35em;
            font-weight: 700;
        }
    }

    h4 {
        margin: 0 0 1em 0;
        padding: 0.5em 1em;
        border: 1px solid var(--cu1);
        border-left: .75em solid var(--cu1);
        font-style: italic;
    }

    .marketin {
        color: var(--cu1);
    }

    hr {
        margin: .5em auto;
        border-top: var(--cu2) solid 1px;
    }
}